* {
  box-sizing: border-box;
}

body {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

#whoseTurnIsIt {
  display: block;
}

#container {
  display: grid;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: repeat(8, 70px);
}

#square {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

#piece {
  z-index: 1000;
  cursor: pointer;
  padding: 15px;
}

#square:nth-child(-2n + 8),
#square:nth-child(8) ~ :nth-child(-2n + 15),
#square:nth-child(16) ~ :nth-child(-2n + 24),
#square:nth-child(24) ~ :nth-child(-2n + 31),
#square:nth-child(32) ~ :nth-child(-2n + 40),
#square:nth-child(40) ~ :nth-child(-2n + 47),
#square:nth-child(48) ~ :nth-child(-2n + 56),
#square:nth-child(56) ~ :nth-child(-2n + 63) {
  background: tan;
}

.whiteCapturedPiecesContainer, .blackCapturedPiecesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

@media (max-width: 900px) {
  #container {
    grid-template-columns: repeat(8, 75px);
    grid-template-rows: repeat(8, 75px);
  }

  #square {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 600px) {
  #container {
    grid-template-columns: repeat(8, 40px);
    grid-template-rows: repeat(8, 40px);
  }

  #square {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 359px) {
  #container {
    grid-template-columns: repeat(8, 35px);
    grid-template-rows: repeat(8, 35px);
  }

  #square {
    width: 35px;
    height: 35px;
  }
}
